<form method="post" action="http://localhost/cgi-bin/login">
    <input type="email" name="email" value="">enter your email address</input><br>
    <input type="password" name="password">your password</input><br>
    <input type="number" name="otp">the otp key</otp><br>
    <button type="submit">login</button>
</form>
